[submodule "libs/ack"]
	path = libs/ack
	url = git://github.com/petdance/ack.git
[submodule "libs/git-extras"]
	path = libs/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "libs/vim-airline"]
	path = libs/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "libs/vim-pathogen"]
	path = libs/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "libs/vim-fugitive"]
	path = libs/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "libs/fonts"]
	path = libs/fonts
	url = https://github.com/powerline/fonts
[submodule "libs/vim-sensible"]
	path = libs/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "libs/unite.vim"]
	path = libs/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "libs/vimproc.vim"]
	path = libs/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "libs/syntastic"]
	path = libs/syntastic
	url = https://github.com/scrooloose/syntastic
