[submodule "libs/ack"]
	path = libs/ack
	url = git://github.com/petdance/ack.git
[submodule "libs/z"]
	path = libs/z
	url = git://github.com/rupa/z.git
[submodule "libs/emacs-for-python"]
	path = libs/emacs-for-python
	url = git://github.com/gabrielelanaro/emacs-for-python.git
[submodule "libs/tmux_setup"]
	path = libs/tmux_setup
	url = git://github.com/adnichols/tmux_setup.git
[submodule "libs/puppet-syntax-emacs"]
	path = libs/puppet-syntax-emacs
	url = https://github.com/puppetlabs/puppet-syntax-emacs.git
