[submodule "libs/ack"]
	path = libs/ack
	url = git://github.com/petdance/ack.git
[submodule "libs/z"]
	path = libs/z
	url = git://github.com/rupa/z.git
[submodule "libs/emacs-for-python"]
	path = libs/emacs-for-python
	url = git://github.com/gabrielelanaro/emacs-for-python.git
[submodule "libs/tmux_setup"]
	path = libs/tmux_setup
	url = git://github.com/adnichols/tmux_setup.git
[submodule ".vagrant.d/modules/stdlib"]
	path = .vagrant.d/modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule ".vagrant.d/modules/vcsrepo"]
	path = .vagrant.d/modules/vcsrepo
	url = git://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule ".vagrant.d/modules/apt"]
	path = .vagrant.d/modules/apt
	url = git://github.com/puppetlabs/puppetlabs-apt.git
[submodule ".vagrant.d/modules/git"]
	path = .vagrant.d/modules/git
	url = git://github.com/puppetlabs/puppetlabs-git
