<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>...</string>
		<key>with</key>
		<string>…</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>&lt;&lt;_</string>
		<key>with</key>
		<string>←</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>&gt;&gt;_</string>
		<key>with</key>
		<string>→</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>^^_</string>
		<key>with</key>
		<string>↑</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>VV_</string>
		<key>with</key>
		<string>↓</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>&lt;&gt;_</string>
		<key>with</key>
		<string>↔</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>^V_</string>
		<key>with</key>
		<string>↕</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>&lt;&lt;F</string>
		<key>with</key>
		<string>☜</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>&gt;&gt;F</string>
		<key>with</key>
		<string>☞</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>^^F</string>
		<key>with</key>
		<string>☝</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>VVF</string>
		<key>with</key>
		<string>☟</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>&lt;3_</string>
		<key>with</key>
		<string>♥</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>&lt;333</string>
		<key>with</key>
		<string>💜</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>CMD_</string>
		<key>with</key>
		<string>⌘-</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>OPT_</string>
		<key>with</key>
		<string>⌥-</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>CTRL_</string>
		<key>with</key>
		<string>⌃-</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>SHFT_</string>
		<key>with</key>
		<string>⇧-</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>frunt</string>
		<key>with</key>
		<string>grunt</string>
	</dict>
</array>
</plist>
