<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>...</string>
		<key>with</key>
		<string>…</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>&lt;&lt;</string>
		<key>with</key>
		<string>←</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>&gt;&gt;</string>
		<key>with</key>
		<string>→</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>^^</string>
		<key>with</key>
		<string>↑</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>VV</string>
		<key>with</key>
		<string>↓</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>&lt;&lt;&gt;&gt;</string>
		<key>with</key>
		<string>↔</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>^^VV</string>
		<key>with</key>
		<string>↕</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>F&lt;&lt;</string>
		<key>with</key>
		<string>☜</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>F&gt;&gt;</string>
		<key>with</key>
		<string>☞</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>F^^</string>
		<key>with</key>
		<string>☝</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>FVV</string>
		<key>with</key>
		<string>☟</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>&lt;33</string>
		<key>with</key>
		<string>♥</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>&lt;333</string>
		<key>with</key>
		<string>💜</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>CMD</string>
		<key>with</key>
		<string>⌘</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>OPT</string>
		<key>with</key>
		<string>⌥</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>CTRL</string>
		<key>with</key>
		<string>⌃</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>SHFT</string>
		<key>with</key>
		<string>⇧</string>
	</dict>
</array>
</plist>
