[user]
  name    = Jesper Rønn-Jensen
  email   = EMAIL
[github]
  user    = jesperronn
[core]
  autocrlf = input
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ~/.gitignore_global
  editor  = mvim -f
[apply]
  whitespace = fix
[branch "master"]
  remote  = origin
  merge   = refs/heads/master
[alias]
  st      = status -bs
  br      = branch
  ci      = commit
  co      = checkout
  g       = grep --break --heading --line-number -I
  root    = rev-parse --show-toplevel
  cdroot  = !cd $(git root)
  st      = status -bs
  taglist = show-ref --tags --abbrev

  lol     = log --oneline --graph --decorate
  ls      = log --pretty=format:\"%C(red)%<(10,trunc)%cr%C(blue) %<(8,trunc)%h %C(reset)%<(12,trunc)%an%Cgreen%d%C(yellow) %s %C(blue) (%ad)\" --abbrev-commit --decorate=short --date=local

[log]
  abbrevCommit = true
[push]
  default = current
[rerere]
  enable  = true
[remote "origin"]
  prune   = true
