[user]
  name = Jesper Rønn-Jensen
  email = EMAIL
[core]
  autocrlf = input
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ~/.gitignore_global
[apply]
  whitespace = fix
[color]
  diff         = auto
  status       = auto
  branch       = auto
  ui           = auto
  interactive  = auto
[alias]
  st           = status -bs
  ci           = commit
  co           = checkout
  br           = branch
  lol = log --oneline --graph --decorate
  g = grep --break --heading --line-number

  loa = log --pretty=format:\"%C(red)%cr%C(blue) %h %C(reset)%an %Cgreen%d%x09%Cblue%s %C(yellow)(%ad)\" --abbrev-commit --decorate=short --date=local
  ls = log --pretty=format:\"%C(red)%cr%C(blue) %h %C(reset)%an %Cgreen%d%x09%Cblue%s %C(yellow)(%ad)\" --abbrev-commit --decorate=short --date=local

[github]
  user         = jesperronn
[merge]
  tool = diffmerge
[mergetool "diffmerge"]
  cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
  trustExitCode = false
[log]
  abbrevCommit = true
[push]
  default = current
[rerere]
  enable = true
[remote "origin"]
  prune = true
