/* Colors from http://ethanschoonover.com/solarized */
/* Fonts from http://mplus-fonts.sourceforge.jp/mplus-outline-fonts/design/index-en.html */

body {
  color: #839496;
  background: #002b36;
  padding: 0;
  margin: 0 0 3em 1.5em;
}

h2 {
  color: #2aa198;
}

b {
  color: #93a1a1;
}

i {
  font-style: normal;
  text-decoration: underline;
  color: #b58900;
}

h2,
pre {
  font-family: mplusNerdFontCM-regular, mplus-2m-regular, Monaco, monospace;
}

pre {
  margin: -0.5em 0 -1.5em;
}

body > hr,
body > address {
  display: none;
}
